<div class="howItWorks-wrapper">
    <center>
        <h2>How It Works ?</h2>
    </center>
    <p>
        Hello there! &#128075; My name is Meet Kalani and I have developed this To-Do app. Now let me
        tell you what is To-Do List? So basically To-Do List is the list which has tasks that has to be done. The
        app mainly has 3 Partitions. First To-Do, To-Do Means that task is remaining and needs to be done. Second
        Doing, Doing means that task is currently pursuing(doing). Third Done, Done means that task has been
        completed.
        This app is designed to be specific for saving time which you spent if you don't have organized work.
    </p>
    <!-- <p class="mt">Below is the Example of To-Do List</p> -->
    <p class="mt">
        Now let me walk you through how it works? In order to use this app you have to register for this app. Don't
        worry it's FREE.
    </p>
    <p class="mt">
        <b>Step 1</b>: Go to <a href="#!signup">Signup</a> Page and get your authorization to use this app and if you
        have already registered than you have to <a href="#!login">Login</a> into your account.
    </p>
    <p class="mt">
        <b>Step 2</b>: After logging in go to <a href="#!addTodo">Add a new todo</a>
        Page and it will open up a form for creating your todo. Fill the fields accordingly. after that you have to
        click Add Todo button. Congratulations &#127881; ! You just added your first To-Do.
    </p>
    <img src="imgs/addTodo.png" class="mt">
    <p class="mt">
        <b>Step 3</b>: If you wanted to change(update) your <a href="#!todo">To-Do</a> than
        click on Edit icon that will open up a form that has previously saved To-Do. Now you only have to change your
        needed part of the To-Do and click "Update Todo" button and your are done.
    </p>
    <img src="imgs/todo.png" class="mt">
    <p class="mt">
        if you want to change your status the To-Do from "To-Do" Section to "Doing" Section you can do it here by changing the
        Status to "Doing" and vice-versa. <b>Ex.</b> You have completed your task and it is showing that you are in
        "Doing" section means you have to update your To-Do in app to "Done".
    </p>
    <img src="imgs/updateTodo.png" class="mt">
    <p class="mt">
        <b>Step 4</b>: If you wanted to remove(delete) your <a href="#!todo">To-Do</a> than just click
        Delete icon and it will remove your To-Do.
    </p>
    <p class="mt mb">
        That's it. Now you are ready to HACK the Time &#128077;
    </p>
</div>