<center><h2>Login</h2></center>

<div class="loginForm">
    
    <div>
        <form ng-controller="loginController" ng-submit="submit()">
            <div class="mail">
                <label for="mail">Mail</label><br>
                <input type="text" name="mail" ng-model="data.mail" required><br>
            </div>
            <div class="password">
                <label for="password">Password</label><br>
                <input type="password" name="password" ng-model="data.password" required><br>
            </div>
            <button class="submit-btn" type="submit">Login</button>
        </form>
    </div>
</div>